<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape https://cad.onshape.com/documents/4209ac7f0152411e9d4dcbf0/w/3377871fe4109e8e8f25bc5b/e/0fbba50c6d2b950b7c25afc1 -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Manual Input -->
    <link name="base_footprint"/>
    <joint name="base_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link"/>
        <origin xyz="0.0 0.0 ${base_height}" rpy="0.0 0.0 0.0"/>
    </joint>   

<!-- From ONSHAPE -->
  <!-- Link base_link -->
  <link name="base_link">
    <inertial>
      <origin xyz="0.00275956 0.00314761 0.00370329" rpy="0 0 0"/>
      <mass value="3.02911"/>
      <inertia ixx="0.0703877" ixy="0" ixz="0" iyy="0.095641" iyz="-0" izz="0.165746"/>
    </inertial>
    <!-- Part base_frame -->
    <visual>
      <origin xyz="0.00275956 0.00314761 -0.00866843" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/base_frame.stl"/>
      </geometry>
      <material name="base_frame_material">
        <color rgba="0.768627 0.886275 0.952941 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.00275956 0.00314761 -0.00866843" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/base_frame.stl"/>
      </geometry>
    </collision>
    <!-- Part pvc -->
    <visual>
      <origin xyz="0.00275956 0.00314761 -0.00866843" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/pvc.stl"/>
      </geometry>
      <material name="pvc_material">
        <color rgba="0.972549 0.529412 0.00392157 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.00275956 0.00314761 -0.00866843" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/pvc.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link motor_assy -->
  <link name="motor_assy_link">
    <inertial>
      <origin xyz="-4.04e-10 0.051266 -0.0214069" rpy="0 0 0"/>
      <mass value="0.31371"/>
      <inertia ixx="0.000353958" ixy="-8e-12" ixz="1e-12" iyy="7.02813e-05" iyz="8.30983e-06" izz="0.000349864"/>
    </inertial>
    <!-- Part pg36_body -->
    <visual>
      <origin xyz="0 -0.007 -0.023" rpy="1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/pg36_body.stl"/>
      </geometry>
      <material name="pg36_body_material">
        <color rgba="0.74902 0.74902 0.74902 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.007 -0.023" rpy="1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/pg36_body.stl"/>
      </geometry>
    </collision>
    <!-- Part bracket_body -->
    <visual>
      <origin xyz="0 -0.0072 -0.023" rpy="-1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/bracket_body.stl"/>
      </geometry>
      <material name="bracket_body_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.0072 -0.023" rpy="-1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/bracket_body.stl"/>
      </geometry>
    </collision>
    <!-- Part bracket_shaft -->
    <visual>
      <origin xyz="0 -0.01 -0.023" rpy="-1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/bracket_shaft.stl"/>
      </geometry>
      <material name="bracket_shaft_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.01 -0.023" rpy="-1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/bracket_shaft.stl"/>
      </geometry>
    </collision>
    <!-- Part pg36_shaft -->
    <visual>
      <origin xyz="0 -0.007 -0.023" rpy="1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/pg36_shaft.stl"/>
      </geometry>
      <material name="pg36_shaft_material">
        <color rgba="0.74902 0.74902 0.74902 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.007 -0.023" rpy="1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/pg36_shaft.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link wheel_assy -->
  <link name="wheel_assy_link">
    <inertial>
      <origin xyz="0 0 0.00850131" rpy="0 0 0"/>
      <mass value="0.200936"/>
      <inertia ixx="0.000194669" ixy="0" ixz="-0" iyy="0.000194669" iyz="-0" izz="0.000368237"/>
    </inertial>
    <!-- Part wheel -->
    <visual>
      <origin xyz="0 0 0" rpy="1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/wheel.stl"/>
      </geometry>
      <material name="wheel_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/wheel.stl"/>
      </geometry>
    </collision>
    <!-- Part tyre -->
    <visual>
      <origin xyz="0 0 0" rpy="1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/tyre.stl"/>
      </geometry>
      <material name="tyre_material">
        <color rgba="0.231373 0.380392 0.705882 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/tyre.stl"/>
      </geometry>
    </collision>
    <!-- Part 8mm_flange_hub -->
    <visual>
      <origin xyz="0 0 0" rpy="1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/8mm_flange_hub.stl"/>
      </geometry>
      <material name="8mm_flange_hub_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/8mm_flange_hub.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from motor_assy to wheel_assy -->
  <joint name="left_wheel_joint" type="continuous">
    <origin xyz="0 -0.0283 -0.023" rpy="1.5708 -1.5708 0"/>
    <parent link="motor_assy_link"/>
    <child link="wheel_assy_link"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Joint from base_link to motor_assy -->
  <joint name="left_motor_joint" type="fixed">
    <origin xyz="0.00275956 0.203148 -0.00866843" rpy="0 -0 3.14159"/>
    <parent link="base_link"/>
    <child link="motor_assy_link"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Link motor_assy_2 -->
  <link name="motor_assy_2_link">
    <inertial>
      <origin xyz="-4.04e-10 0.051266 -0.0214069" rpy="0 0 0"/>
      <mass value="0.31371"/>
      <inertia ixx="0.000353958" ixy="-8e-12" ixz="1e-12" iyy="7.02813e-05" iyz="8.30983e-06" izz="0.000349864"/>
    </inertial>
    <!-- Part pg36_body_2 -->
    <visual>
      <origin xyz="0 -0.007 -0.023" rpy="1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/pg36_body.stl"/>
      </geometry>
      <material name="pg36_body_2_material">
        <color rgba="0.74902 0.74902 0.74902 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.007 -0.023" rpy="1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/pg36_body.stl"/>
      </geometry>
    </collision>
    <!-- Part bracket_body_2 -->
    <visual>
      <origin xyz="0 -0.0072 -0.023" rpy="-1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/bracket_body.stl"/>
      </geometry>
      <material name="bracket_body_2_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.0072 -0.023" rpy="-1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/bracket_body.stl"/>
      </geometry>
    </collision>
    <!-- Part bracket_shaft_2 -->
    <visual>
      <origin xyz="0 -0.01 -0.023" rpy="-1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/bracket_shaft.stl"/>
      </geometry>
      <material name="bracket_shaft_2_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.01 -0.023" rpy="-1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/bracket_shaft.stl"/>
      </geometry>
    </collision>
    <!-- Part pg36_shaft_2 -->
    <visual>
      <origin xyz="0 -0.007 -0.023" rpy="1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/pg36_shaft.stl"/>
      </geometry>
      <material name="pg36_shaft_2_material">
        <color rgba="0.74902 0.74902 0.74902 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.007 -0.023" rpy="1.5708 -1.5708 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/pg36_shaft.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link wheel_assy_2 -->
  <link name="wheel_assy_2_link">
    <inertial>
      <origin xyz="0 0 0.0115013" rpy="0 0 0"/>
      <mass value="0.200936"/>
      <inertia ixx="0.000194669" ixy="0" ixz="-0" iyy="0.000194669" iyz="-0" izz="0.000368237"/>
    </inertial>
    <!-- Part wheel_2 -->
    <visual>
      <origin xyz="0 0 0.003" rpy="1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/wheel.stl"/>
      </geometry>
      <material name="wheel_2_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.003" rpy="1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/wheel.stl"/>
      </geometry>
    </collision>
    <!-- Part tyre_2 -->
    <visual>
      <origin xyz="0 0 0.003" rpy="1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/tyre.stl"/>
      </geometry>
      <material name="tyre_2_material">
        <color rgba="0.231373 0.380392 0.705882 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.003" rpy="1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/tyre.stl"/>
      </geometry>
    </collision>
    <!-- Part 8mm_flange_hub_2 -->
    <visual>
      <origin xyz="0 0 0.003" rpy="1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/8mm_flange_hub.stl"/>
      </geometry>
      <material name="8mm_flange_hub_2_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.003" rpy="1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/8mm_flange_hub.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from motor_assy_2 to wheel_assy_2 -->
  <joint name="right_wheel_joint" type="continuous">
    <origin xyz="0 -0.0283 -0.023" rpy="1.5708 -1.5708 0"/>
    <parent link="motor_assy_2_link"/>
    <child link="wheel_assy_2_link"/>
    <axis xyz="0 0 -1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Joint from base_link to motor_assy_2 -->
  <joint name="right_motor_joint" type="fixed">
    <origin xyz="0.00275956 -0.196852 -0.00866843" rpy="0 -0 0"/>
    <parent link="base_link"/>
    <child link="motor_assy_2_link"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Link caster_frame -->
  <link name="caster_frame_link">
    <inertial>
      <origin xyz="0 -0 -0.0201897" rpy="0 0 0"/>
      <mass value="0.0626507"/>
      <inertia ixx="3.42636e-05" ixy="0" ixz="0" iyy="3.81143e-05" iyz="0" izz="3.79824e-05"/>
    </inertial>
    <!-- Part caster_frame -->
    <visual>
      <origin xyz="0 0.0135 -0.04825" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/caster_frame.stl"/>
      </geometry>
      <material name="caster_frame_material">
        <color rgba="0.231373 0.380392 0.705882 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.0135 -0.04825" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/caster_frame.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link caster_wheel -->
  <link name="caster_wheel_link">
    <inertial>
      <origin xyz="0 -0 -0.0135" rpy="0 0 0"/>
      <mass value="0.122328"/>
      <inertia ixx="3.90245e-05" ixy="0" ixz="0" iyy="3.90245e-05" iyz="0" izz="6.31861e-05"/>
    </inertial>
    <!-- Part caster_wheel -->
    <visual>
      <origin xyz="0 0 0" rpy="1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/caster_wheel.stl"/>
      </geometry>
      <material name="caster_wheel_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/caster_wheel.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from caster_frame to caster_wheel -->
  <joint name="lf_caster_wheel_joint" type="continuous">
    <origin xyz="0 0.0135 -0.04825" rpy="-1.5708 -0 0"/>
    <parent link="caster_frame_link"/>
    <child link="caster_wheel_link"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Joint from base_link to caster_frame -->
  <joint name="lf_caster_frame_joint" type="fixed">
    <origin xyz="0.23276 0.183148 -0.00866843" rpy="0 -0 0"/>
    <parent link="base_link"/>
    <child link="caster_frame_link"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Link caster_frame_2 -->
  <link name="caster_frame_2_link">
    <inertial>
      <origin xyz="0 -0 -0.0201897" rpy="0 0 0"/>
      <mass value="0.0626507"/>
      <inertia ixx="3.42636e-05" ixy="0" ixz="0" iyy="3.81143e-05" iyz="0" izz="3.79824e-05"/>
    </inertial>
    <!-- Part caster_frame_2 -->
    <visual>
      <origin xyz="0 0.0135 -0.04825" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/caster_frame.stl"/>
      </geometry>
      <material name="caster_frame_2_material">
        <color rgba="0.231373 0.380392 0.705882 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.0135 -0.04825" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/caster_frame.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link caster_wheel_2 -->
  <link name="caster_wheel_2_link">
    <inertial>
      <origin xyz="0 -0 -0.0135" rpy="0 0 0"/>
      <mass value="0.122328"/>
      <inertia ixx="3.90245e-05" ixy="0" ixz="0" iyy="3.90245e-05" iyz="0" izz="6.31861e-05"/>
    </inertial>
    <!-- Part caster_wheel_2 -->
    <visual>
      <origin xyz="0 0 0" rpy="1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/caster_wheel.stl"/>
      </geometry>
      <material name="caster_wheel_2_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/caster_wheel.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from caster_frame_2 to caster_wheel_2 -->
  <joint name="lb_caster_wheel_joint" type="continuous">
    <origin xyz="0 0.0135 -0.04825" rpy="-1.5708 -0 0"/>
    <parent link="caster_frame_2_link"/>
    <child link="caster_wheel_2_link"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Joint from base_link to caster_frame_2 -->
  <joint name="lb_caster_frame_joint" type="fixed">
    <origin xyz="-0.22724 0.183148 -0.00866843" rpy="0 -0 0"/>
    <parent link="base_link"/>
    <child link="caster_frame_2_link"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Link caster_frame_3 -->
  <link name="caster_frame_3_link">
    <inertial>
      <origin xyz="0 -0 -0.0201897" rpy="0 0 0"/>
      <mass value="0.0626507"/>
      <inertia ixx="3.42636e-05" ixy="0" ixz="0" iyy="3.81143e-05" iyz="0" izz="3.79824e-05"/>
    </inertial>
    <!-- Part caster_frame_3 -->
    <visual>
      <origin xyz="0 0.0135 -0.04825" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/caster_frame.stl"/>
      </geometry>
      <material name="caster_frame_3_material">
        <color rgba="0.231373 0.380392 0.705882 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.0135 -0.04825" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/caster_frame.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link caster_wheel_3 -->
  <link name="caster_wheel_3_link">
    <inertial>
      <origin xyz="0 0 -0.0135" rpy="0 0 0"/>
      <mass value="0.122328"/>
      <inertia ixx="3.90245e-05" ixy="0" ixz="0" iyy="3.90245e-05" iyz="0" izz="6.31861e-05"/>
    </inertial>
    <!-- Part caster_wheel_3 -->
    <visual>
      <origin xyz="0 0 -0.027" rpy="-1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/caster_wheel.stl"/>
      </geometry>
      <material name="caster_wheel_3_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.027" rpy="-1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/caster_wheel.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from caster_frame_3 to caster_wheel_3 -->
  <joint name="rf_caster_wheel_joint" type="continuous">
    <origin xyz="0 -0.0135 -0.04825" rpy="1.5708 -0 0"/>
    <parent link="caster_frame_3_link"/>
    <child link="caster_wheel_3_link"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Joint from base_link to caster_frame_3 -->
  <joint name="rf_caster_frame_joint" type="fixed">
    <origin xyz="0.23276 -0.176852 -0.00866843" rpy="0 -0 0"/>
    <parent link="base_link"/>
    <child link="caster_frame_3_link"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Link caster_frame_4 -->
  <link name="caster_frame_4_link">
    <inertial>
      <origin xyz="0 -0 -0.0201897" rpy="0 0 0"/>
      <mass value="0.0626507"/>
      <inertia ixx="3.42636e-05" ixy="0" ixz="0" iyy="3.81143e-05" iyz="0" izz="3.79824e-05"/>
    </inertial>
    <!-- Part caster_frame_4 -->
    <visual>
      <origin xyz="0 0.0135 -0.04825" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/caster_frame.stl"/>
      </geometry>
      <material name="caster_frame_4_material">
        <color rgba="0.231373 0.380392 0.705882 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0.0135 -0.04825" rpy="0 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/caster_frame.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Link caster_wheel_4 -->
  <link name="caster_wheel_4_link">
    <inertial>
      <origin xyz="0 0 -0.0135" rpy="0 0 0"/>
      <mass value="0.122328"/>
      <inertia ixx="3.90245e-05" ixy="0" ixz="0" iyy="3.90245e-05" iyz="0" izz="6.31861e-05"/>
    </inertial>
    <!-- Part caster_wheel_4 -->
    <visual>
      <origin xyz="0 0 -0.027" rpy="-1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/caster_wheel.stl"/>
      </geometry>
      <material name="caster_wheel_4_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 -0.027" rpy="-1.5708 -0 0"/>
      <geometry>
        <mesh filename="package://${package_name}/meshes/caster_wheel.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from caster_frame_4 to caster_wheel_4 -->
  <joint name="rb_caster_wheel_joint" type="continuous">
    <origin xyz="0 -0.0135 -0.04825" rpy="1.5708 -0 0"/>
    <parent link="caster_frame_4_link"/>
    <child link="caster_wheel_4_link"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>
  <!-- Joint from base_link to caster_frame_4 -->
  <joint name="rb_caster_frame_joint" type="fixed">
    <origin xyz="-0.22724 -0.176852 -0.00866843" rpy="0 -0 0"/>
    <parent link="base_link"/>
    <child link="caster_frame_4_link"/>
    <axis xyz="0 0 1"/>
    <limit effort="10" velocity="10"/>
  </joint>


</robot>
