<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference="base_link">
        <mu1 value="0.5"/>
        <mu2 value="0.5"/>
    </gazebo>

    <gazebo reference="lidar_link">
        <mu1 value="0.5"/>
        <mu2 value="0.5"/>
    </gazebo>

    <gazebo reference="imu_link">
        <mu1 value="0.5"/>
        <mu2 value="0.5"/>
    </gazebo>

    <gazebo reference="wheel_assy_link">
        <mu1 value="1.5"/>
        <mu2 value="1.5"/>
    </gazebo>

    <gazebo reference="wheel_assy_2_link">
        <mu1 value="1.5"/>
        <mu2 value="1.5"/>
    </gazebo>

    <gazebo reference="caster_wheel_link">
        <mu1 value="0.8"/>
        <mu2 value="0.8"/>
    </gazebo>

    <gazebo reference="caster_wheel_2_link">
        <mu1 value="0.8"/>
        <mu2 value="0.8"/>
    </gazebo>

    <gazebo reference="caster_wheel_3_link">
        <mu1 value="0.8"/>
        <mu2 value="0.8"/>
    </gazebo>

    <gazebo reference="caster_wheel_4_link">
        <mu1 value="0.8"/>
        <mu2 value="0.8"/>
    </gazebo>

</robot>